<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.model.Answerboard_IDao">
<!-- <mapper namespace="AnswerBoardMapper"> -->
	
	<sql id="selBoard">
      SELECT SEQ, ID, TITLE, CONTENT, REFER, STEP, "DEPTH",
      READCOUNT, TO_CHAR(REGDATE,'YYYY. MM. DD'),
      REGDATE
      FROM ANSWERBOARD a
   </sql>

	<select id="userBoardList" resultType="ADto">
      <include refid="selBoard" />
      WHERE DELFLAG ='N'
      ORDER BY REFER DESC, STEP
   </select>

  

   
	

</mapper>
